.collab-requests-container {
  background-color: var(--greyscale-300);
}

.collab-feed--container {
  height: fit-content;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
  gap: 1rem;
  display: flex;
}

.collab-feed {
  padding: 1rem;
  & button {
    margin-top: 1rem;
  }
  & a {
    color: var(--greyscale-900);
    text-decoration: none;
    cursor: pointer;
  }
}

.collab-feed--container::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
  align-content: space-around;
  gap: 0.5rem;
}

.collab__card {
  height: auto;
  width: 250px;
  flex-shrink: 0;
  margin-top: 2rem;
  background-color: var(--greyscale-100);
  border-radius: 2rem;
  padding: 0.5rem;
  margin-inline: 0.5rem;
  float: none;
  display: block;

  & h2 {
    max-width: 100%;
    word-break: break-word;
    white-space: normal;
    margin-block: 0.5rem;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & p {
    max-width: 100%;
    word-break: break-word;
    white-space: normal;
    font-size: 0.8rem;
    color: var(--greyscale-500);
    padding-block: 0.5rem;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & a {
    color: var(--greyscale-500);
    font-size: 0.75rem;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
  }
}

.collab__nav {
  align-items: center;
}

.collab__nav--pic {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.collab--img {
  border-radius: 2rem;
}

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collab-interactions {
  align-items: center;

  & p {
    font-size: 0.75rem;
    color: var(--greyscale-500);
  }
}
