.footer__nav {
  justify-self: center;
  background-color: var(--greyscale-900);
  position: sticky;
  width: 98%;
  height: 3rem;
  border-radius: 1.5rem;
  justify-content: space-evenly;
  bottom: 6.5%;
  left: 50%;
  transform: translate(-1%, 100%);
  border: 1px solid var(--greyscale-100);

  & p {
    font-size: 0.65rem;
    color: var(--greyscale-100);
  }

  & svg {
    color: var(--greyscale-100);
    height: 1.5rem;
    width: 1.5rem;
  }

  .btn-nav {
    align-items: center;
  }
}

.footer__nav--selected {
  color: var(--primary-yellow);
  border: 1px solid var(--greyscale-100);
  border-radius: 50%;
}
