.footer__nav {
  justify-self: center;
  background-color: var(--greyscale-900);
  position: sticky;
  width: 95vw;
  height: 3rem;
  border-radius: 1.5rem;
  justify-content: space-evenly;
  bottom: 1rem;

  & p {
    font-size: 0.65rem;
    color: var(--greyscale-100);
  }

  & svg {
    color: var(--greyscale-100);
  }
}

.footer__nav--selected {
  color: var(--primary-yellow);
  border: 1px solid var(--greyscale-100);
  border-radius: 50%;
}
