.flex {
  display: flex;
  align-content: space-around;
  gap: 0.5rem;
}

.note__card {
  margin-top: 2rem;
  & h2 {
    margin-block: 0.5rem;
  }
  & p {
    margin-block: 1rem;
  }
}

.note__nav {
  align-items: center;
}

.note__nav--pic {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.note__content--img {
  border-radius: 2rem;
}

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-interactions {
  align-items: center;
}
