.servicesGrid {
	padding: 15px;
}

.serviceCardContainer {
	padding: 15px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	border: 1px solid #575757;
	border-radius: 10px;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divider {
	width: 100%;
	height: 1px;
	margin: 9px 0;
	background-color: #575757;
}

.profileContainer {
	display: inherit;
	justify-content: space-between;
	align-items: center;
	img {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		margin-right: 5px;
	}
	p {
		margin: 0 3px;
	}
}

.serviceMedia {
	height: 222px;
	width: 333px;
	margin: 9px auto;
	border-radius: 10px;
}

.serviceDescription {
	font-size: 1rem;
	letter-spacing: 0.5px;
	line-height: normal;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bottomContainer {
	display: inherit;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

.readMore {
	font-weight: 700;
	text-decoration: none;
	color: #575757;
}

.infoContainer {
	display: inherit;
	p:first-child {
		margin-right: 2px;
	}
}

.serviceCardFull {
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 0;
	header {
		margin-bottom: 15px;
	}
	.profileContainer {
		img {
			height: 45px;
			width: 45px;
			margin-right: 10px;
		}
		h3,
		p {
			font-size: 18px;
		}
		p {
			margin: 0 5px;
		}
	}
	.serviceMedia {
		height: 240px;
		width: 363px;
		margin: 15px auto;
	}
	.serviceDescription {
		line-clamp: unset;
		-webkit-line-clamp: unset;
		overflow: visible;
		text-overflow: unset;
		display: block;
		margin-bottom: 15px;
	}
	.actionButtons,
	.location,
	.price {
		margin-bottom: 15px;
	}
}
