.services-grid {
	height: 854px;
	width: 393px;
	overflow: auto;
}

.service-card-full {
	height: 854px;
	width: 393px;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	border: 1px solid #eee;
	border-radius: 10px;
}

.service-card-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	border: 1px solid #eee;
	border-radius: 10px;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-container {
	display: inherit;
	justify-content: space-between;
	align-items: center;
	img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}
	p {
		margin: 0 4px;
	}
}

.service-media {
	height: 222px;
	width: 333px;
	border-radius: 10px;
	margin: auto;
}

.bottom-container {
	display: inherit;
	align-items: center;
	justify-content: space-between;
}

.info-container {
	display: inherit;
	p:first-child {
		margin-right: 2px;
	}
}
