.tag {
  padding: 0.75rem 1.5rem;
  border: 2px solid #333;
  border-radius: 2rem;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.tagActive {
  background: #000;
  color: #fff;
}
