.posting-container {
  max-width: 800px;

  .toggle {
    gap: 0.25rem;
    align-items: flex-start;

    .toggle-text {
      font-size: 0.85rem;
    }
  }
}

.posting-tab-nav {
  justify-content: space-evenly;
  padding: 0 0 0.5rem;
  margin: 0 0 0.5rem;
  border-bottom: 1px solid var(--greyscale-300);

  a {
    text-decoration: none;
    color: var(--greyscale-900);
  }

  .tab {
    height: fit-content;
    padding: 0.15rem 0.5rem;
    border-radius: 50rem;
    color: var(--greyscale-400);

    transition:
      background 250ms ease,
      color 250ms ease;

    &.active {
      color: var(--greyscale-900);
      background: var(--primary-yellow);
    }
  }
}

.post-content-header {
  padding: 0.5rem;
  justify-content: space-between;
}

.post-form {
  gap: 1rem;
  padding: 1rem 0;
}

.btn-primary {
  height: fit-content;
  background: var(--primary-yellow);
  padding: 0.375rem 0.5rem;
  border-radius: 50rem;
}
