.tag {
  padding: 0.2rem 1rem;
  border: 2px solid var(--greyscale-500);
  border-radius: 2rem;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  width: fit-content;
}

.tagActive {
  background: #000;
  color: #fff;
}
