.toggle {
	width: 3rem;
	height: 1.75rem;
	border: 2px solid #ddd;
	border-radius: 2rem;
	background: transparent;
	padding: 0.25rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
	position: relative;
}

.toggleCircle {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background: #ccc;
	transition: all 0.3s ease;
	position: absolute;
	left: 0.25rem;
}

.toggleActive {
	background: #ffc107;
	border-color: #ffc107;
}

.toggleActive .toggleCircle {
	background: #ffc107;
	left: calc(100% - 1.5rem);
}
