/* global */

*::before,
*::after {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /*primary colours*/
  --primary-yellow: #ffcf70;
  --primary-purple: #4d3f54;
  /*secondary/profile header colours*/
  --header-bg-2: #575252;
  --header-bg-3: #3f4d54;
  --header-bg-4: #3f4254;
  --header-bg-6: #543f40;
  --header-bg-7: #5d4c43;
  /*neutral colours*/
  --black: #1e1e1e;
  --white: #fff;
  --light-gray: #f7f6f6;
  --gray: #555;
  --melting-glacier: #ededed;
  /*accent colours*/
  --error: #800000;
  --success: #40826d;
  /*fonts*/
  --font-body: "Helvetica Now Display", "sans-serif";
  --font-header: "Inter", "sans-serif";
}

body {
  color: var(--black);
  font-family: var(--font-body);
}

/*utility*/

.grid {
  display: grid;
  grid-template-columns: repeat(6, 2.5rem);
  gap: 0.625rem;
}
.spacing-2 {
  padding-block: 2rem;
}
.spacing-4 {
  padding-block: 4rem;
}
.spacing-6 {
  padding-block: 6rem;
}
.spacing-8 {
  padding-block: 8rem;
}

/*screen reader*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(1px);
  border: 0;
}

/* !Typography */

.xs-text {
  font-size: 0.75rem;
}
.s-text {
  font-size: 0.875rem;
}
.m-text {
  font-size: 1rem;
}
.l-heading {
  font-size: 1.125rem;
}
.xl-heading {
  font-size: 1.25rem;
}
.xxl-heading {
  font-size: 1.5rem;
  font-family: var(--font-header);
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.75%;
}
.caps {
  text-transform: uppercase;
}

/*icons*/

.element-xs {
  height: 2.723rem;
  width: 2.723rem;
}
.element-s {
  height: 2.917rem;
  width: 2.917rem;
}
.element-m {
  height: 3.111rem;
  width: 3.111;
}
.element-l {
  height: 4.25rem;
  width: 4.25rem;
}
.element-xl {
  height: 9.688rem;
  width: 15.313rem;
}
