.auth-page {
  margin: 0 auto;
  max-width: 70vw;
  color: var(--greyscale-500);

  .auth-header {
    gap: 1rem;

    .auth-title,
    .auth-subtitle {
      text-align: center;
    }
  }

  .auth-form {
    padding-block: 1rem 0;
    gap: 1rem;
  }
}
