.auth-page {
	margin: 0 auto;
	max-width: 70vw;
	color: var(--greyscale-500);
	align-self: center;

	.auth-header {
		gap: 1rem;

		.auth-title,
		.auth-subtitle {
			text-align: center;
		}
	}

	.auth-form {
		padding-block: 1rem 0;
		margin-top: 2rem;
		justify-items: center;
		gap: 1rem;
		& p {
			margin-block: 1rem;
		}
		& button {
			margin-top: 1rem;
		}
	}
}

.login {
	margin: 4.8rem 0 0 0;
}

.border {
	border: 2px solid var(--greyscale-500);
	border-radius: 2rem;
	padding: 1rem 2rem;
}

.progress-container {
	display: block;
	background-color: var(--greyscale-300);
	border-radius: 0.5rem;
	justify-self: center;
	width: 80vw;
	overflow: hidden;
	height: 0.3rem;
	margin-block: 2rem 2.5rem;
}

.progress-bar {
	content: "";
	display: block;
	background: var(--primary-yellow);
	height: 100%;
	width: 20%;
	transition: width 0.3s ease;
	&.progress-40 {
		width: 40%;
	}
	&.progress-60 {
		width: 60%;
	}
	&.progress-80 {
		width: 80%;
	}
	&.progress-100 {
		width: 100%;
	}
}

/* Business-detail styling */
.auth-form-business {
	width: fit-content;
	margin: auto;
	gap: 1.5rem;

	& button:last-child {
		margin: 0 auto;
	}
}
