/* overall layout for the app */
.grid,
.app-layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr;
  gap: 0.625rem;
}

.app-layout {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;

  /* make grid content fill grid by default */
  & > * {
    grid-column: 1 / -1;
  }
}

.main-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}

nav {
  align-items: center;
}

.nav-header {
  padding: 0.5rem 1rem;
  .btn {
    svg {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}

/* dashboard feed */
.feed--container {
  padding: 1rem;
}
