/* toggle switch */
/* From Uiverse.io by zanina-yassine */

/* The switch - the box around the slider */
.container {
  width: 2.75rem;
  height: 1.375rem;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: calc(50% - 1rem / 2 - 0.6rem);
  top: calc(50% - 1rem / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow:
    0px 3px 8px rgba(0, 0, 0, 0.15),
    0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: #34c759;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 1rem / 2 + 0.6rem);
  top: calc(50% - 1rem / 2);
}

button {
  border-radius: 2rem;
  width: fit-content;
  padding: 0.3rem 0.6rem;
}

.btn-primary {
  background-color: var(--primary-yellow);
  border: 0;
}

.btn-outline {
  background: none;
  border: 1px solid var(--greyscale-900);
}

.btn-text {
  text-decoration: none;
  color: var(--greyscale-900);
  cursor: pointer;
  & span {
    color: #007aff;
  }
}
.btn-skip {
  border: 0;
  background: none;
  text-decoration: underline;
}

.btn-nav {
  background: none;
  color: var(--greyscale-900);
  border: none;
  & svg {
    height: 2rem;
    width: 2rem;
  }
}
