.toggle {
	width: 3.5rem;
	height: 2rem;
	border: 2px solid #9c9c9c;
	border-radius: 2rem;
	background: transparent;
	padding: 0.25rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
	position: relative;
	flex-shrink: 0;
}

.toggleCircle {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background: #9c9c9c;
	transition: all 0.3s ease;
	position: absolute;
	left: 0.2rem;
}

.toggleActive {
	background: white;
	border-color: #ffc966;
}

.toggleActive .toggleCircle {
	background: #ffc966;
	left: calc(100% - 1.7rem);
}

.switchContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.switchLabel {
	font-size: 1rem;
	font-weight: 500;
	color: #333;
}
