/* general shared styling */
input {
  border: 1px solid var(--outline);
  border-radius: .25rem;
  padding: .25rem .5rem;
}

/* regular search input */

/* tag search input */

/* textarea and text input */

/* form */
