/* general shared styling */
input,
textarea {
  font-family: var(--font-body);
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

/* regular search input */

/* tag search input */

/* textarea and text input */
input.text-input,
.text-input {
  background: var(--input-bg);
  border: none;
  padding: 0.5rem 0.7rem;
}

/* form */
