/* general shared styling */
input,
textarea {
  font-family: var(--font-body);
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

/* regular search input */
.input--search {
  background-color: var(--greyscale-500);
}

/* tag search input */
.input__search--tag {
  background: none;
  border-radius: 50%;
}

/* textarea and text input */
input.text-input,
.text-input {
  background: var(--input-bg);
  border: none;
  padding: 0.5rem 0.7rem;
}

/* form */
.input-disabled {
  color: var(--greyscale-400);
  font-style: italic;
}
