/* radio dot stored inside radio-card to keep it scoped - ensures high specificity */
.radio-card {
  text-align: center;
  gap: 0.25rem;

  /* radio circle outer - just an outline */
  .radio-dot {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid var(--outline);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    transition: border-color 200ms;

    /* checkmark inside radio circle */
    /* checkmark defined here to enable smooth transitions */
    &::after {
      content: "";
      position: absolute;
      top: 42%;
      left: 50%;
      /* checkmark always defined but scale 0 hides it */
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
      width: 5px;
      height: 10px;
      border: solid var(--greyscale-100);
      border-width: 0 2px 2px 0;
      transition: transform 300ms;
    }
  }
  /* the selected radio circle - visible checkmark and background */
  &.selected {
    .radio-dot {
      border-color: transparent;
      background: var(--primary-yellow);
      &::after {
        /* checkmark becomes visible once selected by scale 1 */
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
      }
    }
  }
}

.pricing-wrap {
  border: 1px solid var(--greyscale-900);
  padding: 1.8rem 1rem;
  border-radius: 2rem;
  gap: 1rem;
  justify-content: space-between;
  min-width: 300px;
  align-items: center;

  .pricing-collection {
    align-items: center;
    gap: 1rem;
  }

  .col-info {
    text-align: start;
    p {
      margin: 0;
    }
  }
}

.checklist-item::before {
  content: "✓ ";
  color: var(--primary-yellow);
  font-weight: bold;
  margin-right: 0.5rem;
}

.vertical-wrap {
  border: 1px solid var(--greyscale-500);
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 100%;
}

.horizontal-wrap {
  display: flex;
  border: 2px solid var(--greyscale-300);
  border-radius: 2rem;
  padding: 0.5rem;
  gap: 0.5rem;
  text-align: left;
}

.radio-card {
  &.selected {
    .horizontal-wrap {
      border-color: var(--primary-yellow);
    }
  }
}

.choice-container {
  width: 60%;
  justify-content: center;
  gap: 1.5rem;
  margin: 3.75rem 0 2rem 0;

  .subtitle {
    padding-block: 0.75rem;
  }
}

.looking-for {
  width: 70vw;
  justify-self: center;
}
